body {
	background-color: black;
}

button {
	float: right;
	position: relative;
  	left: -50%; 
}
 h2 {
 	color: white;
 	font-family: 'Overpass', sans-serif;
 }
#name {
	background-image: url("titlebackground.jpg");
	text-align: right;
	color: white;
	border-radius: 25px;
	padding-top: 2%;
	padding-bottom: 3%;
	padding-right: 3%;
	margin-top: 1%;
}

#name h1 {
	font-size: 290%;
	font-family: 'Oswald', sans-serif;
}

li {
   	float: left;
}

hr {
 	margin-left: 100px;
 	margin-right: 100px;
 }
.dogpic {
	margin-top: 10%;
	/*
  	left: -10%; 
	margin-left: -80px;*/
    /*border-radius: 2500px; */
}

.catpic {
	/*margin-left: 5%;*/
 	margin-top: 10%;
 }

.dogpic2 {
	/*margin-right: 0%;*/
	margin-top: 10%;
}

 .bio {
 	font-size: 150%;
 	color: white;
 	margin-left: 20%;
 }

 .contact {
 	background-color: white;
 	border-radius: 25px;
 }

.cat-title {
	font-size: 300%;
	padding-left: 5%;
}

.contact-title {
	padding-top: 5%;
	padding-left: 10%;
}



.col-md-4 {
	padding: 0 0 0 0;
}


.menu-image img {
    opacity: 0.8;
}

.menu-image img:hover {
    opacity: 0.4;
}

.content {
	position: absolute;
	margin-top:-180px;
	margin-left:40%;
	font-weight:bold;
	color:white;
	font-size:150%;
}